@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.section-inner {
  padding: 15px 20px;
}

.avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.user-dropdown {
  display: none;
  position: absolute;
  z-index: 6;
  right: 20px;
  top: 65px;
  list-style: none;
  min-width: 120px;
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: 0 0 3px gray;
  border-radius: 2px;
  background-color: #fff;
}

.user-dropdown__item {
  display: flex;
  padding: 5px 20px 5px 10px;
  cursor: pointer;
}

.user-dropdown__item .icon {
  margin-right: 7px;
}

.user-dropdown__item:not(:first-child) {
  border-top: 2px solid #e7e8e9;
}

.user-dropdown__item :hover {
  background-color: #e7e8e9;
}

.text-red {
  color: #ff0202;
}

.common-icon {
  font-size: 23px;
  color: #c1c1c1;
}

.section-header {
  box-shadow: 0 1px 10px gray;
  position: relative;
  z-index: 5;
}

.section-header .section-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-header__logo {
  font-size: 0;
}

.section-header__search {
  display: flex;
  align-items: center;
}

.section-header__search-form {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.section-header__search-form .input {
  width: 400px;
  padding: 3px 10px;
  border: 1px solid #c1c1c1;
}

.section-header__search-form .input::placeholder {
  font-family: "Roboto", sans-serif;
}

.section-header__search-form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #e7e8e9;
  border: 1px solid #c1c1c1;
}

.section-header__user {
  display: flex;
  align-items: center;
}

.section-header__user-profile {
  position: relative;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f5af44;
  border-radius: 50%;
  cursor: pointer;
}

.section-header__user-profile:hover {
  background-color: #e7e8e9;
}

.section-header__user-profile:hover + .user-dropdown {
  display: block;
}

main {
  display: flex;
}

.section-sidebar {
  flex-basis: 20%;
  background-color: #ebebeb;
}

.section-sidebar .section-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
}

.section-sidebar__channels-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.section-sidebar__channels-list-item {
  display: flex;
  align-items: center;
}

.section-sidebar__channels-list-item + .section-sidebar__channels-list-item {
  margin-top: 10px;
}

.section-sidebar .user-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.section-sidebar .avatar {
  margin-right: 10px;
}

.section-sidebar .name {
  text-overflow: ellipsis;
}

.section-sidebar .online-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff0202;
  margin-right: 5px;
}

.section-sidebar__socials {
  background-color: #dfdfdf;
  border-radius: 3px;
  text-align: center;
}

.section-sidebar__socials-title::selection {
  color: #fff;
  background-color: #f5af44;
}

.section-sidebar__socials-icons {
  margin-top: 7px;
  font-size: 20px;
}

.section-sidebar__socials-icons i {
  cursor: pointer;
}

.section-sidebar__socials-icons .telegram-icon:hover {
  color: #00a2ff;
}

.section-sidebar__socials-icons .instagram-icon:hover {
  color: #b42e83;
}

.section-sidebar__socials-icons .facebook-icon:hover {
  color: #4867aa;
}

.section-sidebar__socials-icons i + i {
  margin-left: 15px;
}

.section-main__categories {
  margin-bottom: 50px;
}

.section-main__categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.section-main__categories-list-item {
  padding: 7px 12px;
  background-color: #ebebeb;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.section-main__categories-list-item + .section-main__categories-list-item {
  margin-left: 10px;
}

.section-main__categories-list .active {
  background-color: #f5af44;
  color: #fff;
}

.section-main__videos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.section-main__videos-item .preview {
  font-size: 0;
}

.section-main__videos-item .preview img {
  width: 300px;
  height: 200px;
}

.section-main__videos-item .content {
  display: flex;
}
/*# sourceMappingURL=main.css.map */