@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "normalize.scss";

$color-gray-primary: #ebebeb;
$color-gray-secondary: #e7e8e9;
$color-gray-icons: #c1c1c1;
$color-orange: #f5af44;
$color-red: #ff0202;

// Common
body {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

.section-inner {
    padding: 15px 20px;
}

.avatar {
    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
}

.user-dropdown {
    display: none;
    position: absolute;
    z-index: 6;
    right: 20px;
    top: 65px;
    list-style: none;
    min-width: 120px;
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: 0 0 3px gray;
    border-radius: 2px;
    background-color: #fff;

    &__item {
        display: flex;
        padding: 5px 20px 5px 10px;
        cursor: pointer;

        .icon {
            margin-right: 7px;
        }

        &:not(:first-child) {
            border-top: 2px solid $color-gray-secondary;
        }

        :hover {
            background-color: $color-gray-secondary;
        }
    }
}

.text-red {
    color: $color-red;
}

.common-icon {
    font-size: 23px;
    color: $color-gray-icons;
}
// /Common

.section-header {
    box-shadow: 0 1px 10px gray;
    position: relative;
    z-index: 5;

    .section-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-size: 0;
    }

    &__search {
        display: flex;
        align-items: center;

        &-form {
            display: flex;
            align-items: center;
            margin-right: 5px;

            .input {
                width: 400px;
                padding: 3px 10px;
                border: 1px solid $color-gray-icons;

                &::placeholder {
                    font-family: "Roboto", sans-serif;
                }
            }

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                background-color: $color-gray-secondary;
                border: 1px solid $color-gray-icons;
            }
        }
    }

    &__user {
        display: flex;
        align-items: center;

        &-profile {
            position: relative;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: $color-orange;
            border-radius: 50%;
            cursor: pointer;
        }

        &-profile:hover {
            background-color: $color-gray-secondary;
        }

        &-profile:hover + .user-dropdown {
            display: block;
        }
    }
}

main {
    display: flex;
}

.section-sidebar {
    flex-basis: 20%;
    background-color: $color-gray-primary;

    .section-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        flex-grow: 1;
    }

    &__channels-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 40px;

        &-item {
            display: flex;
            align-items: center;

            & + & {
                margin-top: 10px;
            }
        }
    }

    .user-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .avatar {
        margin-right: 10px;
    }

    .name {
        text-overflow: ellipsis;
    }

    .online-indicator {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $color-red;
        margin-right: 5px;
    }

    &__socials {
        background-color: #dfdfdf;
        border-radius: 3px;
        text-align: center;

        &-title::selection {
            color: #fff;
            background-color: $color-orange;
        }

        &-icons {
            margin-top: 7px;
            font-size: 20px;

            i {
                cursor: pointer;
            }

            .telegram-icon:hover {
                color: #00a2ff;
            }

            .instagram-icon:hover {
                color: #b42e83;
            }

            .facebook-icon:hover {
                color: #4867aa;
            }

            i + i {
                margin-left: 15px;
            }
        }
    }
}

.section-main {
    &__categories {
        margin-bottom: 50px;

        &-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            &-item {
                padding: 7px 12px;
                background-color: $color-gray-primary;
                border-radius: 50%;
                text-align: center;
                cursor: pointer;

                & + & {
                    margin-left: 10px;
                }
            }

            .active {
                background-color: $color-orange;
                color: #fff;
            }
        }
    }

    &__videos {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &-item {
            .preview {
                font-size: 0;
                img {
                    width: 300px;
                    height: 200px;
                }
            }

            .content {
                display: flex;
            }
        }
    }
}
